<ion-card>

  <ion-card-header>

    <ion-card-title>

      Timeline Producción

    </ion-card-title>

  </ion-card-header>

  <ion-card-content>

    <!-- LOADING -->

    <div
      *ngIf="loading"
      class="ion-text-center">

      <ion-spinner>
      </ion-spinner>

    </div>

    <!-- EMPTY -->

    <div
      *ngIf="
        !loading &&
        !timeline.length
      "
      class="ion-text-center">

      No hay trazabilidad

    </div>

    <!-- TIMELINE -->

    <ion-list>

      <ion-item
        *ngFor="
          let item of timeline
        ">

        <ion-badge

          slot="start"

          [color]="
            getColor(
              item.etapa
            )
          ">

          {{ item.etapa }}

        </ion-badge>

        <ion-label>

          <h2>

            {{
              item
                .accion_realizada
            }}

          </h2>

          <p>

            {{
              item
                .observaciones
            }}

          </p>

          <small>

            {{
              item
                .fecha_hora
            }}

          </small>

        </ion-label>

      </ion-item>

    </ion-list>

  </ion-card-content>

</ion-card>