<ion-content class="login-content">

  <div class="contenedor-fondo">
    <img
      src="../../../assets/img/Babka.png"
      alt="Fondo"
      class="imagen-fondo">
  </div>

  <div class="contenedor">

    <ion-card class="login-card">

      <ion-card-content>

        <div class="titulo">
          <h1>Canastapp Login</h1>
        </div>

        <ion-item lines="none">
          <ion-input
            [(ngModel)]="email"
            type="email"
            placeholder="Correo">
          </ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-input
            [(ngModel)]="password"
            type="password"
            placeholder="Contraseña">
          </ion-input>
        </ion-item>

        <ion-button
          expand="block"
          (click)="login()"
          [disabled]="loading">

          Ingresar

        </ion-button>

      </ion-card-content>

    </ion-card>

  </div>

</ion-content>