<ion-header>

  <ion-toolbar>

    <ion-title>
      Inventario
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>

  <!-- REFRESH -->

  <ion-refresher
    slot="fixed"
    (ionRefresh)="refrescar($event)">

    <ion-refresher-content>
    </ion-refresher-content>

  </ion-refresher>

  <!-- SEARCH -->

  <ion-searchbar
    [(ngModel)]="busqueda"
    placeholder="Buscar materia prima">
  </ion-searchbar>
  <div class="ion-padding">

  <ion-button
    expand="block"
    (click)="crearMateria()">

    Nueva Materia Prima

  </ion-button>

</div>
  <!-- LISTA -->

  <ion-list>

    <ion-item
      *ngFor="
        let materia of inventario$ | async
      ">
      <ion-buttons slot="end">
        <ion-button
  color="primary"
  (click)="abrirMovimientos(materia)">

  <ion-icon
    name="swap-horizontal-outline">
  </ion-icon>

</ion-button>

  <ion-button
    color="warning"
    (click)="editarMateria(materia)">

    <ion-icon
      name="create-outline">
    </ion-icon>

  </ion-button>

  <ion-button
    color="danger"
    (click)="eliminarMateria(materia)">

    <ion-icon
      name="trash-outline">
    </ion-icon>

  </ion-button>

</ion-buttons>

      <ion-label>

        <h2>
          {{ materia.nombre }}
        </h2>

        <p>
          Stock:
          {{ materia.cantidad_disponible }}
          {{ materia.unidad_medida }}
        </p>

        <p>

          Mínimo:
          {{ materia.stock_minimo }}

          |
          
          Máximo:
          {{ materia.stock_maximo }}
        </p>

      </ion-label>

      <!-- ALERTA -->

      <ion-badge
        color="danger"

        *ngIf="
          materia.cantidad_disponible
          <=
          materia.stock_minimo
        ">

        STOCK BAJO

      </ion-badge>

    </ion-item>

  </ion-list>

</ion-content>